<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capres">

    <application
        android:allowBackup="true"
        android:icon="@drawable/capres2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/capres2"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaPres">
        <activity android:name=".adapter.AdminAdapter"></activity>
        <activity android:name=".adapter.UserAdapter" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>